{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Task</title>
    <link rel="stylesheet" href="{% static 'monthlyapp/css/style.css' %}">
</head>
<body>
    <h1>My Monthly Plan</h1> 
    <p id="months">Choose a month</p>
    <ul>
    {% for key in keys %}
   <li> <a href= "/{{key}}"> {{ key|title }} </a> </li>
    {% endfor %} 
    </ul>
    <footer>
        <p>Developed by: <a href="https://brp.com.np">Bishworaj Poudel</a></p>
    </footer>
</body>
</html>